http:
  routers:
    backend-router:
      rule: "Host(`{{ ansible_app_to_balance }}`)"  # Укажите домен или удалите Host()
      service: backend-service
      entryPoints:
        - "http"
      # Раскомментируйте для HTTPS:
      # tls:
      #   certResolver: letsencrypt

  services:
    backend-service:
      loadBalancer:
        servers:
          - url: "http://130.193.58.71:80"  # Порт вашего бэкенда
        healthCheck:
          path: /
          interval: 10s
          timeout: 3s